<html>
  <head>
    <meta charset="utf-8">
    <title>Apply</title>
  </head>
  <body>
    <form action="./upload/" method="post" class="apply">
      {% csrf_token %}
      Name:<input name="name" type="text"><br>
      LineID:<input name="lineID" type="text"><br>
      Phone number:<input name="phone" type="text"><br>
      Relation:<input name="relation" type="text"><br>
      Wish date:<input name="date" type="text"><br>
      Latitude:<input name="lat" type="number"><br>
      Longitude:<input name="lng" type="number"><br>
      County/City:<input name="county" type="text"><br>
      Town/Village/City/District:<input name="district" type="text"><br>
      Address:<input name="address" type="text"><br>
      <!--Road:<input name="road" type="text"><br>
      Section:<input name="section" type="text"><br>
      Lane:<input name="lane" type="text"><br>
      Alley:<input name="alley" type="text"><br>
      Number:<input name="number" type="text"><br>
      -number:<input name="numberD" type="text"><br>
      Floor:<input name="floor" type="text"><br>
      -floor:<input name="floorD" type="text"><br>
      Room:<input name="room" type="text"><br><-->
      Building age:<input name="age" type="text"><br>
      Building type:<input name="type" type="text"><br>
      Building floors:<input name="floors" type="text"><br>
      Remarks:<input name="remarks" type="text"><br>
      <button type="submit" id="applySubmit">apply</button><br>
      <h1 class="apply" id="applyResult"></h1>
    </form>
    <a href="/check/personal/showappliedcases/">Show applied cases</a><br>
  </body>
</html>
