<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Check</title>
  </head>
  <body>
    <form action="./upload/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      SN:<input name="sn" type="text"><br>
      status:<input name="status" type="text"><br>
      <input type="file" name="file" multiple><br>
      <button type="submit">Upload</button>
    </form>
    <form action="./result/" method="post">
      {% csrf_token %}
      SN:<input name="sn" type="text"><br>
      <button type="submit">Show result</button>
    </form>
    <form action="./assign/" method="post">
      {% csrf_token %}
      SN:<input name="sn" type="text"><br>
      <button type="submit">Assign</button>
    </form>
    <a href="./showunassignedcases/">Show unassigned cases</a><br>
    <a href="./volunteer/showcheckedcases/">Show checked cases</a><br>
    <a href="./volunteer/shownotcheckedcases/">Show not checked cases</a><br>
    <a href="./engineer/showchecks/">Show checks</a><br>
    <form action="./showdetail/" method="post" class="showDetail">
      {% csrf_token %}
      SN:<input name="sn" type="text"><br>
      <button id="detailSubmit" type="submit">look for</button>
    </form>

    <!--script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#detailCommit').click((event)=>{
          event.preventDefault()
          $.get('./showdetail/', {
            name:$('.showDetail input[name="name"]').val(),
            address:$('.showDetail input[name="address"]').val()
          }, (data)=>{
            $('#detailResult').text(data)
          })
        })
      })
    </script-->
  </body>
</html>

